In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset=pd.read_csv("BPD_Part_1_Victim_Based_Crime_Data.csv")

/Users/rohitpola/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
dataset.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents
0,02/08/2020,2:18:00,5D,1700 CLIFTVIEW AVE,BURGLARY,I,NaN,312.0,EASTERN,DARLEY PARK,-76.593870,39.315341,NaN,GROCERY/CONFECTION,Eastern 1,1
1,02/08/2020,6:00:00,6G,700 N STREEPER ST,LARCENY,I,NaN,333.0,EASTERN,MADISON EASTEND,-76.577425,39.299094,NaN,ROW/TOWNHOUSE-OCC,NaN,1
2,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,FIREARM,314.0,EASTERN,OLIVER,-76.594992,39.306941,NaN,ROW/TOWNHOUSE-OCC,NaN,1
3,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,FIREARM,314.0,EASTERN,OLIVER,-76.594992,39.306941,NaN,ROW/TOWNHOUSE-OCC,NaN,1
4,02/08/2020,17:30:00,5A,1600 E OLIVER ST,BURGLARY,I,NaN,314.0,EASTERN,OLIVER,-76.595946,39.307350,NaN,ROW/TOWNHOUSE-OCC,Eastern 1,1

# Total number of instances/rows: 292761
# Total number of features/columns: 16

In [4]:
dataset

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,vri_name1,Total Incidents
0,02/08/2020,2:18:00,5D,1700 CLIFTVIEW AVE,BURGLARY,I,NaN,312.0,EASTERN,DARLEY PARK,-76.593870,39.315341,NaN,GROCERY/CONFECTION,Eastern 1,1
1,02/08/2020,6:00:00,6G,700 N STREEPER ST,LARCENY,I,NaN,333.0,EASTERN,MADISON EASTEND,-76.577425,39.299094,NaN,ROW/TOWNHOUSE-OCC,NaN,1
2,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,FIREARM,314.0,EASTERN,OLIVER,-76.594992,39.306941,NaN,ROW/TOWNHOUSE-OCC,NaN,1
3,02/08/2020,9:50:00,3JF,1400 N BROADWAY,ROBBERY - RESIDENCE,I,FIREARM,314.0,EASTERN,OLIVER,-76.594992,39.306941,NaN,ROW/TOWNHOUSE-OCC,NaN,1
4,02/08/2020,17:30:00,5A,1600 E OLIVER ST,BURGLARY,I,NaN,314.0,EASTERN,OLIVER,-76.595946,39.307350,NaN,ROW/TOWNHOUSE-OCC,Eastern 1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292756,01/01/1978,10:30:00,2A,1900 ARGONNE DR,RAPE,I,OTHER,421.0,NORTHEAST,MORGAN STATE UNIVERS,-76.582056,39.340492,NaN,ROW/TOWNHOUSE-OCC,NaN,1
292757,05/01/1977,0:01:00,2A,600 W 34TH ST,RAPE,I,OTHER,531.0,NORTHERN,WYMAN PARK,-76.626880,39.328817,NaN,ROW/TOWNHOUSE-OCC,NaN,1
292758,06/01/1975,0:00:00,2A,4400 OLD FREDERICK RD,RAPE,I,OTHER,822.0,SOUTHWEST,UPLANDS,-76.691297,39.289582,NaN,OTHER - INSIDE,NaN,1
292759,07/20/1969,21:00:00,2A,5400 ROLAND AVE,RAPE,NaN,OTHER,534.0,NORTHERN,ROLAND PARK,-76.635300,39.358898,NaN,NaN,NaN,1
292760,10/30/1963,0:00:00,2A,3100 FERNDALE AVE,RAPE,I,OTHER,622.0,NORTHWEST,HOWARD PARK,-76.702636,39.326875,NaN,ROW/TOWNHOUSE-OCC,NaN,1

# NUMERIC ATTRIBUTES AND THERE MIN,MAX,MEAN,MEDIAN AND STANDARD DEVIATION

In [19]:
dataset[['Longitude','Latitude','Location 1','Total Incidents']].describe()

           Longitude       Latitude  Location 1  Total Incidents
count  291126.000000  291126.000000         0.0         292761.0
mean      -76.617452      39.306746         NaN              1.0
std         0.043734       0.029658         NaN              0.0
min       -81.529189      37.577262         NaN              1.0
25%       -76.649094      39.288186         NaN              1.0
50%       -76.613977      39.302672         NaN              1.0
75%       -76.587080      39.326965         NaN              1.0
max       -76.383228      39.661332         NaN              1.0

# DISCRETE ATTRIBUTEs WHICH HAS UNIQUE VALUES

In [6]:
dataset["Description"].unique()

array(['BURGLARY', 'LARCENY', 'ROBBERY - RESIDENCE', 'AUTO THEFT',
       'ROBBERY - COMMERCIAL', 'ROBBERY - STREET', 'COMMON ASSAULT',
       'SHOOTING', 'AGG. ASSAULT', 'LARCENY FROM AUTO',
       'ROBBERY - CARJACKING', 'HOMICIDE', 'RAPE', 'ARSON'], dtype=object)

In [7]:
dataset["Description"].unique().size

14

In [8]:
dataset["District"].unique()

array(['EASTERN', 'SOUTHWEST', 'NORTHEAST', 'NORTHWEST', 'NORTHERN',
       'SOUTHEAST', 'SOUTHERN', 'CENTRAL', 'WESTERN', 'UNKNOWN'],
      dtype=object)

In [9]:
dataset["District"].unique().size

10

In [10]:
dataset["Neighborhood"].unique()

array(['DARLEY PARK', 'MADISON EASTEND', 'OLIVER', nan, 'BELAIR-EDISON',
       'CENTRAL PARK HEIGHTS', 'BARCLAY', 'REISTERSTOWN STATION',
       'ARLINGTON', 'CURTIS BAY', 'DOWNTOWN', 'MOUNT HOLLY', 'HARWOOD',
       'EDMONDSON VILLAGE', 'HOLLINS PARK', 'PENROSE/FAYETTE ST OUTREACH',
       'SANDTOWN-WINCHESTER', 'PENN NORTH', 'WEST FOREST PARK',
       'HOES HEIGHTS', 'CHARLES VILLAGE', 'BRIDGEVIEW/GREENLAWN',
       'DUNBAR', 'CARROLLTON RIDGE', 'ROSEMONT HOMEOWNERS',
       'MOUNT VERNON', 'WALTHERSON', 'RAMBLEWOOD', 'ARMISTEAD GARDENS',
       'NEW NORTHWOOD', 'FRANKFORD', 'MIDDLE BRANCH/REEBIRD PARKS',
       'IRVINGTON', 'BROOKLYN', 'PORT COVINGTON', 'HOWARD PARK',
       'WEST ARLINGTON', 'FEDERAL HILL/MONTGOM', 'WYMAN PARK',
       'HUNTING RIDGE', 'MADISON PARK', 'HOMELAND', 'INNER HARBOR',
       'MID-TOWN BELVEDERE', 'CHINQUAPIN PARK/BELV',
       'MEDFORD/BROENING MAN', 'PEN LUCY', 'WAVERLY', 'BEECHFIELD',
       'CANTON', 'GAY STREET', 'MIDDLE EAST', 'BIDDLE STREET',
       'BETTER WAVERLY', 'MONDAWMIN', 'JOSEPH LEE', 'UPPER FELLS POINT',
       'DOLFIELD', 'WESTPORT', 'WOODMERE', 'POPPLETON', 'PERKINS HOMES',
       'HARLEM PARK', 'BALTIMORE HIGHLANDS', 'ELLWOOD PARK/MONUMEN',
       'TOWANDA-GRANTLEY', 'PIMLICO GOOD NEIGHBO', 'WINCHESTER',
       'BRADDISH AVE./PANWAY', 'FAIRFIELD', 'LOCH RAVEN',
       'COLDSTREAM HOMESTEAD', 'MORRELL PARK', '4X4', 'DRUID HEIGHTS',
       'CYLBURN', 'OAKENSHAWE', 'CAMERON VILLAGE', 'ROSEMONT',
       'LITTLE ITALY', 'CANTON INDUSTRIAL AREA', 'WINSTON-GOVANS',
       'CHERRY HILL', 'MILL HILL', 'STADIUM AREA', 'LIBERTY SQUARE',
       'BUTCHERS HILL', 'MIDTOWN EDMONDSON', 'CURTIS BAY INDUSTRIAL AREA',
       'GLEN', 'CEDMONT', 'UPLANDS', 'BROADWAY EAST', 'CALLAWAY-GARRISON',
       'ALLENDALE', 'FALLSTAFF', 'DORCHESTER/GRAN-BARR',
       'ORANGEVILLE INDUSTRIAL AREA', 'BREWERS HILL', 'SETON HILL',
       'MILTON-MONTFORD', 'HAMPDEN', 'LAKE WALKER', 'BEREA',
       'HANLON/LONGWOOD', 'UPTON', 'OLDTOWN', 'PEN-FALLSWAY',
       'ROLAND PARK', 'CHARLES NORTH', 'NORTHWEST COMMUNITY', 'GLEN OAKS',
       'JOHNSTON SQUARE', 'HUDSON-HIGHLANDTOWN', 'LAURAVILLE',
       'MCELDERRY PARK', 'PARK CIRCLE', 'FOREST PARK/GOLF COU', 'OVERLEA',
       'SOUTH CLIFTON PARK', 'WASHINGTON HILL', 'GWYNNS FALLS',
       'WILSON PARK', 'UNIVERSITY OF MARYLA', 'COPPIN HEIGHTS/ASHBU',
       'WASHINGTON VILLAGE', 'UNION SQUARE', 'LAKELAND', 'WOODBROOK',
       'FRANKLIN SQUARE', 'EAST BALTIMORE MIDWA', 'BALTIMORE-LINWOOD',
       'HARFORD-ECHODALE-PER', 'PATTERSON PLACE', 'FELLS POINT',
       'REMINGTON', 'WOODBERRY', 'WESTGATE', 'OAKLEE', 'WESTFIELD',
       'EDNOR GARDENS-LAKESI', 'MOUNT WASHINGTON', 'SHIPLEY HILL',
       'RESERVOIR HILL', 'NORTH HARFORD ROAD', 'LUCILLE PARK',
       'ASHBURTON', 'SAINT JOSEPHS', 'BOLTON HILL', 'RIVERSIDE',
       'GUILFORD', 'MOSHER', 'CARROLL - CAMDEN INDUSTRIAL AREA',
       'EAST ARLINGTON', 'FRANKLINTOWN ROAD', 'WINDSOR HILLS',
       'CARROLL-SOUTH HILTON', 'FRANKLINTOWN', 'WOODRING', 'BARRE CIRCLE',
       'ROSEMONT AVENUE', 'PARKLANE', 'IDLEWOOD', 'MAYFIELD', 'JONESTOWN',
       'STONEWOOD-PENTWOOD-W', 'YALE HEIGHTS',
       'NEW SOUTHWEST/MOUNT CLARE', 'EASTERWOOD', 'LANGSTON HUGHES',
       'GRACELAND PARK', 'KRESSON', 'GLENHAM-BELFORD',
       'PLEASENT VIEW GARDENS', 'GREEKTOWN', 'MORGAN STATE UNIVERS',
       'KESWICK', 'LOCUST POINT', 'ABELL', 'ROGNEL HEIGHTS', 'CEDONIA',
       'WILSON HEIGHTS', 'FOREST PARK', 'HERITAGE CROSSING',
       'RICHNOR SPRINGS', 'CONCERNED CITIZENS O', 'ORANGEVILLE',
       'OTTERBEIN', 'PURNELL', 'BURLEITH-LEIGHTON', 'GREENSPRING',
       'WAKEFIELD', 'GARWYN OAKS', 'WALBROOK', 'MID-GOVANS',
       'PERRING LOCH', 'TREMONT', 'BELAIR-PARKSIDE',
       'PULASKI INDUSTRIAL AREA', 'CLAREMONT-FREEDOM', 'CROSS COUNTRY',
       'PARKSIDE', 'BEVERLY HILLS', 'BOOTH-BOYD', 'MOUNT WINANS',
       'ORIGINAL NORTHWOOD', 'MORAVIA-WALTHER', 'GROVE PARK', 'S.B.I.C.',
       'CENTRAL FOREST PARK', 'ARCADIA', 'MEDFORD', 'SAINT PAUL',
       'TEN HILLS', 'ODONNELL HEIGHTS', 'WYNDHURST', 'KERNEWOOD',
       'ROSEBANK', 'GREENMOUNT WEST', 'DRUID HILL PARK ASSO',
       'SETON BUSINESS PARK', 'HILLEN', 'MEDFIELD', 'SAINT HELENA',
       'VIOLETVILLE', 'HAWKINS POINT', 'CROSS KEYS', 'LOYOLA/NOTRE DAME',
       'CLIFTON PARK', 'WEST HILLS', 'CHESWOLDE', 'LEVINDALE',
       'WOODBOURNE HEIGHTS', 'SAINT AGNES', 'TUSCANY-CANTERBURY',
       'NORTH ROLAND PARK/POPLAR HILL', 'MONTEBELLO', 'SHARP LEADENHALL',
       'LOCUST POINT INDUSTRIAL AREA', 'PATTERSON PARK', 'BAYVIEW',
       'CHRISTOPHER', 'MORGAN PARK', 'SABINA-MATTFELDT', 'COLDSPRING',
       'SPRING GARDEN INDUSTRIAL AREA', 'TAYLOR HEIGHTS',
       'KENILWORTH PARK', 'EVERGREEN LAWN', 'RIDGELYS DELIGHT',
       'EASTWOOD', 'JOHN HOPKINS HOMEWOO', 'FAIRMOUNT',
       'WOODBOURNE MCCABE', 'FORT HOLABIRD', 'JONES FALLS AREA',
       'CEDARCROFT', 'GWYNNS FALLS/LEAKIN PARK', 'RADNOR-WINSTON',
       'CARROLL PARK', 'HERRING RUN PARK', 'VILLAGES OF HOMELAND',
       'THE ORCHARDS', 'EVERGREEN', 'GREENMOUNT CEMETERY', 'LAKE-EVESHAM',
       'BELLONA-GITTINGS', 'LOWER HERRING RUN PARK', 'DICKEYVILLE',
       'BELAIR', 'MOUNT PLEASANT PARK', 'BLYTHEWOOD', 'CARROL',
       'DUNDALK MARINE TERMINAL', 'HOLLIN', '116102', '0', 'SANDTO',
       'WOODME'], dtype=object)

In [11]:
dataset["Neighborhood"].unique().size

279

In [12]:
dataset["Premise"].unique()

array(['GROCERY/CONFECTION', 'ROW/TOWNHOUSE-OCC', 'STREET',
       'CONVENIENCE STORE', 'APT/CONDO - OCCUPIED', 'DEPARTMENT STORE',
       'OTHER - OUTSIDE', 'RESTAURANT', 'OTHER - INSIDE', 'ALLEY',
       'PARKING LOT-OUTSIDE', 'GAS STATION', 'GARAGE ON PRIV. PROP',
       'CLOTHING/SHOE STORE', nan, 'DWELLING', 'VEHICLE',
       'DRUG STORE / MED  BL', 'BANK/FINANCIAL INST', 'OFFICE BUILDING',
       'HOSP/NURS. HOME', 'DRIVEWAY', 'SPECIALTY STORE',
       'HOUSE UNDER CONSTRUC', 'ATM MACHINES', 'PUBLIC AREA',
       'ROW/TOWNHOUSE-VAC', 'HOTEL/MOTEL', 'SCHOOL', 'VACANT BUILDING',
       'YARD', 'PARKING LOT-INSIDE', 'HARDWARE/BLDG. SUP.', 'LIBRARY',
       'PORCH/DECK', 'LIQUOR STORE', 'UNKNOWN', 'RETAIL/SMALL BUSINES',
       'WHOLESALE/DISC. STOR', 'TAVERN/NIGHT CLUB', 'BAR',
       'RELIGIOUS  INSTITUTI', 'PARK', 'CHAIN FOOD STORE', 'SINGLE HOUSE',
       'BUS/AUTO', 'SHED/GARAGE', 'CEMETERY', 'BLDG UNDER CONST.',
       'POLICE DEPARTMENT', 'BUS. PARK LOT-OUTSID', 'APARTMENT HALLWAY',
       'RECREATION FACILITY', 'CONSTRUCTION SITE', 'PIZZA/OTHER DELIVERY',
       'OTHER/RESIDENTIAL', 'APT/CONDO - VACANT', 'PUBLIC BUILDING',
       'PUBLIC HOUSING', 'WAREHOUSE', 'FAST FOOD', 'MOBILE HOME',
       'CARRY OUT', 'AUTO PARTS STORE', 'LAUNDRY/CLEANRS/SHOE',
       'PARKING LOT', 'HOSPITAL', 'SHOPPING MALLS/CNTR', 'BAKERY',
       'BUS.  STORAGE SHED', 'BUS/RAILROAD STATION', 'COMMON BUSINESS',
       'CAR LOT-NEW/USED', 'BARBER/BEAUTY SHOP', 'YARD/BUSINESS',
       'MINI STORAGE LOCKERS', 'COURT HOUSE', 'CAB', 'INNER HARBOR-S-KEY',
       'CAR  REPAIR SHOP', 'VACANT DWELLING', 'GARAGE',
       'PENITENTIARY/JAIL', 'TRACTOR TRAILER', 'INNER HARBOR-N-PRATT',
       'RAILROAD CAR/YARD', 'PLAYGROUND/ATHLETIC', 'SALESMAN/COLLECTORS',
       'CONVENTION CENTER', 'MAILBOX-STREET/RES.', 'PUBLIC SCHOOL',
       'JEWELRY STORE', 'FIRE DEPARTMENT', 'STADIUM', 'VACANT LOT/WOODS',
       'MARKET STALLS', 'APT. LOCKER/LAUNDRY', 'DOCTORS OFFICE',
       'BOAT/SHIP', 'SUBWAY', 'CHURCH', 'INNER HARBOR-W-LIGHT',
       'BUS. PARK LOT-INSIDE', 'SCHOOL PLAYGROUND', 'RACE TRACK',
       'POOL/BOWLING/AMUSE.', 'SHED', 'DAY CARE FACILITY', 'PAWN SHOP',
       'BOAT YARD', 'BRIDGE-PIERS-DOCKS', 'THEATRE',
       'FINANCE/LOAN COMPANY', 'LIGHT RAIL', 'MANUFACTURING PLANT',
       'UTILITIES-BG&E-C&P', 'RENTAL/VIDEO STORE', 'CLUB HOUSE/FRATERNIT',
       'PHOTO STUDIO/CAMERA', "BOX CARS/COMM'L TRLR",
       'STRUCTURE-OCCUPIED', 'ARENA', 'NIGHT DEPOSIT', 'MTA LOT',
       'SKYWALK', 'TRUCKING & TRANSFER'], dtype=object)

In [13]:
dataset["Premise"].unique().size

126

In [14]:
dataset["vri_name1"].unique()

array(['Eastern 1', nan, 'Northeastern', 'Tri-District', 'Northwestern',
       'Western', 'Central', 'Eastern 2', 'Brooklyn'], dtype=object)

In [15]:
dataset["vri_name1"].unique().size

9

# MISSING VALUES IN EACH ATTRIBUTE

In [16]:
dataset.isnull().any()

CrimeDate          False
CrimeTime           True
CrimeCode          False
Location            True
Description        False
Inside/Outside      True
Weapon              True
Post                True
District           False
Neighborhood        True
Longitude           True
Latitude            True
Location 1          True
Premise             True
vri_name1           True
Total Incidents    False
dtype: bool

In [17]:
dataset.isnull().sum()

CrimeDate               0
CrimeTime              26
CrimeCode               0
Location             1336
Description             0
Inside/Outside      33760
Weapon             231229
Post                 2376
District                0
Neighborhood        10504
Longitude            1635
Latitude             1635
Location 1         292761
Premise             34012
vri_name1          258177
Total Incidents         0
dtype: int64

# LEVEL OF MISSINGNESS

In [18]:
dataset.isnull().sum()/len(dataset)*100

CrimeDate            0.000000
CrimeTime            0.008881
CrimeCode            0.000000
Location             0.456345
Description          0.000000
Inside/Outside      11.531591
Weapon              78.982173
Post                 0.811584
District             0.000000
Neighborhood         3.587910
Longitude            0.558476
Latitude             0.558476
Location 1         100.000000
Premise             11.617668
vri_name1           88.186951
Total Incidents      0.000000
dtype: float64